/* Regola di reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 60%;
    margin: auto;
    color: #888;
    font-family: 'Montserrat',
        sans-serif;
    font-weight: lighter;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Regola di debug */
.debug>header {
    background-color: #E579E6;
    height: 100px;
}

.debug .jumbotron {
    background-color: #E1D67A;
    height: 250px;
}

.debug .container {
    background-color: #0086FF;
    height: 500px;
}

.debug .title {
    background-color: #ABCFE7;
    height: 50px;
}

.debug .sidebar,
.debug .content {
    background-color: #ABCFE7;
    height: 430px;
}

.debug>footer {
    background-color: #8801FE;
    height: 50px;
}

.logo {
    width: 15%;
    border-right: 1px solid #F2F2F2;
    padding-right: 1rem;
}

.navbar {
    margin: 2rem 0;
}

.navbar li {
    display: inline;
    padding-right: 1rem;
    text-transform: uppercase;
}

.jumbotron {
    margin: 1rem 0;
}

.container {
    padding-bottom: 0.6rem;
}

.title {
    margin-bottom: 0.6rem;
}

.sidebar,
.content {
    float: left;
}

.sidebar {
    width: 20%;
}

.content {
    width: 58%;
    margin-left: 1%;
    margin-right: 1%;
}

#site_footer {
    margin-top: 0.5rem;
}